# --- Configuration VPS EcoEats ---

# Database
POSTGRES_USER=ecoEats
POSTGRES_PASSWORD=met-un-mot-de-passe-sur-ton-vps
POSTGRES_DB=EcoEats

# Secrets JWT
JWT_ACCESS_SECRET=genere-une-cle-aleatoire-tres-longue
JWT_REFRESH_SECRET=genere-une-autre-cle-aleatoire

# Stripe (Keys de test ou prod)
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# URL Publiques (A adapter si tu n'es pas en localhost)
FRONTEND_PORT=3005
BACKEND_PORT=3001
GRAFANA_PORT=3002

CORS_ORIGIN=http://localhost:3005
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
